{% extends 'base.html' %}
{% block body %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="base.css" />
</head>

<style>
body
{
	<!-- background-image:url('{{ url_for('static', filename='home2.jpeg') }}');
    background-repeat:no-repeat;
    background-position: center 0;
    background-size: cover; -->
}

</style>
    <div class="search_style">
    {% if current_user.admin %}
        <h1> Welcome, Admin </h1>
        {% else %}
    <h1> Online Shopping System</h1>
    {% endif %}

    </div>
{% endblock %}
