{% extends 'base.html' %}
{% block body %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="base.css" />
</head>
<div class="search_style">
<form action="{{ url_for('search') }}" method="get">


    <h1>Search:</h1> <h2><input type="text" name="s" placeholder="What do you feel like today?"><br>
    <input type="radio" name="select" value="all_btn"> All Items<br>
    <input type="radio" name="select" value="cat_btn">
    Category: <select name="cat">
        {% for i in choices %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select><br>
    <input type="radio" name="select" value="sub_btn">
    Sub-Category: <select name="sub">
        {% for i in sub_choices %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select><br>

    <button>Search</button>
</h2>

</form>
<br><br>
<h1>Results: {{ results|length }} items found</h1><br>
    </div>
    <div class="body_style">
{% if results|length != 0 %}
<table id="customers">
  <col width="40">
  <col width="80">
  <col width="80">
  <col width="80">
  <col width="80">
  <col width="80">

  <tr>
    <th>Action</th>
    <th>Name</th>
    <th>Price</th>
    <th>Size</th>
    <th>Color</th>

  </tr>
    {% for i in results %}
        <tr>
        <td><form method="post">
        <input hidden name="id" value="{{ i.item_code }}">
        Quantity: <input type="number" name="qty" placeholder="quantity" required>
        <button>Add To Cart</button>
</form></td>


{% for j in i.__dict__.items() %}
    {% if j[0] not in hidden_traits %}
    <td>{{ j[1] }}<br></td>
    {% endif %}
{% endfor %}

        </tr>
{% endfor %}

</table>
{% endif %}
</div>
{% endblock %}